.container {
  padding: 0 15px;
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
}

.nav-link {
  &-reset {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
}
